body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

#imageUpload {
    margin: 10000px 0;
}

.image-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
    background-color: white;
    border: 2px solid #dddddd;
    max-width: 500px; /* Maximum width */
    max-height: 500px; /* Maximum height */
    width: auto;
    height: auto;
    margin: 0 auto;
}

.image-preview__image {
    display: none;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
